name: Postman API Tests

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Postman CLI
        run: |
          curl -o- "https://dl-cli.pstmn.io/install/linux64.sh" | sh

      - name: Run API Tests
        run: |
          postman collection run "Kurs GraphQL.postman_collection.json" \
          -d dane.json \
          --env-var "baseUrl=https://rickandmortyapi.com/graphql"
